.home-container{
    background-image:url("../../assets/images/March-12-Letter\ \(1\).jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 100vh;

   
    color: black;

}

@media only screen and (max-width:550){
 .home-container{
    height: 100%;
    
}
.text{
    width: 500px;
    max-width: 100vh;
}

}


